<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:composite="http://java.sun.com/jsf/composite"
	>
<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>
</h:head>
<h:body>
   <h:form>
    <p:growl id="mensajes" life="2000" />
    <p:spinner label="Duracion" value="#{reunionManager.reunionData.duracion}" ></p:spinner>
    <p:calendar id="button" value="#{calendarView.date3}" showOn="button" />
    <p:commandButton value="Crear" actionListener="#{reunionManager.salvar}" ></p:commandButton>

</h:form>
   
</h:body>
</html>